.barra {
    background: rgb(255,140,0);
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(211,211,211,1) 100%);
    color: black;
    border: none;
    border-radius: 5px;
    margin: 4px;
} 

.sidenav-container {

    height: 100%;
}


.cerrar {
    margin-left: 0px;
    text-align: center;
    justify-items: center;
}

.mat-raised-button{
    width: 95%;
    text-align: left;
    justify-items: center;
    margin: 4px;

}

.icon {
    margin-right: 10px;

}