<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="title">
            <h1>{{ item.Municipio }}</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div id="map" class="map"></div>
          <div class="row pt-5 flex zero">
            <div class="col-md-5 uno">
              <h2>Municipio</h2>
              <p>{{ item.Municipio }}</p>
              <h2>Paraje</h2>
              <p>{{ item.Paraje }}</p>
              
            </div>
            <div class="col-md-5 uno">
              <h2>Coordenada X UTM</h2>
              <p>{{ item.X }}</p>
              <h2>Coordenada Y UTM</h2>
              <p>{{ item.Y }}</p>
            </div>
          </div>
          <div >
            <h2>Descripción</h2>
            <p>{{ item.Descripcion }}</p>
            <h2>Flora</h2>
            <p>{{ item.Flora }}</p>
            <h2>Fauna</h2>
            <p>{{ item.Fauna }}</p>
            <h2>Geologia</h2>
            <p>{{ item.Geologia }}</p>
            <h2>Recomendacion</h2>
            <p>{{ item.Recomendacion }}</p>
            <h2>Status de conservacion</h2>
            <p>{{ item.Status_de_conservacion }}</p>
          </div>

        <!--show a grid with buttons and icons-->
        <div class="row buttons-grid">
          <div class="col-md-4 ">
            <button mat-button color="white">
              <!--local svg feather-->
              <img src="/assets/icons/feather.svg" alt="feather SVG">
              <a href="{{item.Enlace_ebird}}/observations/?date_after=1989-01-01&species=&species_group=1" target="_blank">Aves</a>
            </button>
          </div>
          <div class="col-md-4">
            <button mat-button color="primary">
              <img src="/assets/icons/deer.svg" alt="deer SVG">
              <a href="{{item.Enlace_ebird}}/observations/?date_after=1989-01-01&species=&species_group=2" target="_blank">Mamiferos</a>
            </button>
          </div>
          <div class="col-md-4">
            <button mat-button color="primary" >
              <img src="/assets/icons/python.svg" alt="python SVG">
              <a href="{{item.Enlace_ebird}}/observations/?date_after=1989-01-01&species=&species_group=3" target="_blank">Anfibios y reptiles</a>
            </button>
          </div>
          <div class="col-md-4">
            <button mat-button color="primary" >
              <img src="/assets/icons/butterfly.svg" alt="butterfly SVG">
              <a href="{{item.Enlace_ebird}}/observations/?date_after=1989-01-01&species=&species_group=4" target="_blank">Mariposas</a>
            </button>
          </div>
          <div class="col-md-4">
            <button mat-button color="primary" >
              <img src="/assets/icons/spider.svg" alt="spider SVG">
              <a href="{{item.Enlace_ebird}}/observations/?date_after=1989-01-01&species=&species_group=5" target="_blank">Odonatos</a>
            </button>
          </div>
          <div class="col-md-4">
            <button mat-button color="primary" >
              <img src="/assets/icons/plant.svg" alt="bee SVG">
              <a href="{{item.Enlace_ebird}}/observations/?date_after=1989-01-01&species=&species_group=6" target="_blank">Plantas</a>
            </button>
          </div>

        </div>


        </mat-card-content>
        <mat-card-actions class="actions">
          <div class="row">
            <div class="col-md-5" *ngIf="this.islogged == true">
              <a
                mat-raised-button
                color="white"
                [routerLink]="['/edititem', item.Serie]"
                >Editar</a
              >
            </div>
            <div class="col-md-5">
              <a mat-raised-button color="white" [routerLink]="['/fichas']"
                >Volver</a
              >
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
