
mat-card-header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: #94c551;
    justify-content: center;

}
.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

mat-card-content {
    font-size: 16px;
    text-align: center;
    width: 100%;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #94c551;
    border-radius: 50px;}


  .map {
    height: 300px;
    width: 100%;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0 0 10px 0 #94c551;
    background-color: #94c551;
  }
  
  h2 {
    font-size: 20px;

    text-align: center;
    color: #94c551;
  }

  p {
    font-size: 16px;
    text-align: center;
    text-shadow:    0 0 10px rgba(42, 126, 42, 0.5);
    background-color: white;
    margin: 10px;
    border-radius: 15px;
  }
 .actions{
    display: flex;
    justify-content: space-around;
    align-items: top;
    background-color: #94c551;
    border-radius: 50px;
    margin: 10px;
    padding: auto;
    height: max-content;
  }

  a {
    color: #94c551;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .uno {
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 1px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    flex-direction: column;

  }

  .zero{
    justify-content: space-around;
    border-radius: 15px;
    padding: 1px;
    margin-left: 2px;
    margin-right: 2px;
  }