<!--footer-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footercolumn">
        <!--logo-->

        <img src="/assets/images/gorosti.gif" alt="Logo Gorosti" class="logo">
        <p>La naturaleza es un tesoro que hay que cuidar y preservar.</p>
        <h3>Gorosti</h3>
        <p>Gorosti es una sociedad sin ánimo de lucro que se dedica a la FORMACIÓN, INVESTIGACIÓN y DIVULGACIÓN de la Naturaleza en todos sus aspectos.</p>
      </div>
      <div class="col-md-4 footercolumn">
        <h3>Web by Guillermo Dean</h3>
            <ul>
                <li>
                    <a href="https://github.com/guillermodean/ZH_Frontend" title='Accede a la cuenta de GitHub de Guillermo' target="_blank">GitHub</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/guillermo-dean-7b1b5a1a0/" title='Accede a la cuenta de LinkedIn de Guillermo' target="_blank">LinkedIn</a>
                </li>
                <li>
                    <a href="https://guillermodean.com" title='Accede a la página web de Guillermo' target="_blank">Guillermo Dean</a>
                </li>

            </ul>
        </div>
      <div class="col-md-4 footercolumn">
        <!--social-->
        <h3>Social</h3>
        <ul>
          <li>
            <a href="https://www.facebook.com/profile.php?id=100079853255379" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/scngorosti" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://www.gorosti.org/" target="_blank">Webpage</a>
          </li>
        </ul>
        <!-- copyright with year updated-->

        
        <p>
          &copy; <span>{{ currentYear }}</span> Humedales Navarra. All rights reserved.
        </p>
        
        </div>
    </div>
  </div>