<!--footer-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footercolumn">
        <!--logo-->

        <img src="/assets/images/gorosti.gif" alt="logo" class="logo">
        <p>La naturaleza es un tesoro que hay que cuidar y preservar.</p>
        <h3>Gorosti</h3>
        <p>Gorosti es una sociedad sin ánimo de lucro que se dedica a la FORMACIÓN, INVESTIGACIÓN y DIVULGACIÓN de la Naturaleza en todos sus aspectos./p>
      </div>
      <div class="col-md-4 footercolumn">
        <h3>Web by Guillermo Dean</h3>
            <ul>
                <li>Guillermo Dean</li>
                <li>
                    <a href="https://www.linkedin.com/in/guillermo-dean-7b1b5a1a0/" target="_blank">LinkedIn</a>
                </li>
                <li>
                    <a href="https://guillermodean.com" target="_blank">Guillermo Dean</a>
                </li>

            </ul>
        </div>
      <div class="col-md-4 footercolumn">
        <!--social-->
        <h3>Social</h3>
        <ul>
          <li>
            <a href="https://www.facebook.com/gorosti/" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/gorosti" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://www.instagram.com/gorosti/" target="_blank">Instagram</a>
          </li>
        </ul>
        <!-- copyright-->
        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        
        </div>
    </div>
  </div>