<h2 mat-dialog-title>Update User</h2>
<div mat-dialog-content>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Last Password" formControlName="password" type="password" required>
      <mat-error *ngIf="formControls.password.errors?.required">Last Password is required.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="New Password" formControlName="newPassword" type="password" required>
      <mat-error *ngIf="formControls.newPassword.errors?.required">New Password is required.</mat-error>
      <mat-error *ngIf="formControls.newPassword.errors?.minlength">New Password must be at least 8 characters long.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required>
      <mat-error *ngIf="formControls.name.errors?.required">Name is required.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" type="email" required>
      <mat-error *ngIf="formControls.email.errors?.required">Email is required.</mat-error>
      <mat-error *ngIf="formControls.email.errors?.email">Invalid email format.</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled]="updateForm.invalid" (click)="onSubmit()">Update</button>
  <button mat-button (click)="onResetPassword()">Reset Password</button>
</div>
<div *ngIf="resetPasswordClicked" class="reset-password-message">
  <p>An email with instructions to reset your password has been sent.</p>
</div>
