 .sort-full-width {
  width: 80%;
  height: auto;
}

mat-paginator {

} 

  #map {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: 35vh; /* Adjust height as desired */
    box-shadow: 0 0 10px 0 #94c551;
    background-color: #94c551;
    border-radius: 50px;
  }

  .table {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }