/* center all the things */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;

}


/*remove margins from the container */
.container {
  margin: 0;
  padding: 0;
  margin-left: 0;
  max-width: 100%;
  height: 100vh;
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../../../assets/images/pexels-heiner-205002.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.container h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  /* add a shadow to the text */
  text-shadow: 0 0 40px rgba(95, 133, 100, 0.5);

}

.container{
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  /* add a shadow to the text */
  text-shadow: 0 0 40px rgba(95, 133, 100, 0.5);
  /* increase the space between the lines */
  line-height: 1.5;

}