.logo {
    width: 200px;
    height: auto !important;
    margin: 0 auto;
    display: block;
    justify-self: start;

}
.spacer{
    flex: 1 1 auto;
  }
.toolbar {
    background-color: white;
    height: 75px;


}
.link {
    justify-self: left;
}
.Title {
    font-size: 20px;
    font-weight: bold;
    color: #94c551;
    text-align: center;
    margin-top: 10px;
}

.operario {
    background-color: rgb(235, 235, 235);
    color: #597531;
    width: auto;
    min-width: 5%;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}


.data-table {
    width: 40%;
    padding: 5%;
    background: #ffffff;
    height: 30%
}



.data-table .mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-raised-button {
    background-color: #94c551;
    color: white;
}

.mat-raised-button:hover {
    background-color: #c7bcaf;
    color: white;
}

.fondo {
    /* background: url("../../../assets/Imagenes/fondo.png"); */
    /* Fijar la imagen de fondo este vertical y
     horizontalmente y centrado */
    background-position: center center;
    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;
    /* COn esta regla fijamos la imagen en la pantalla. */
    background-attachment: fixed;
    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;
    /* Damos un color de fondo mientras la imagen está cargando  */
    background-color: #ffffff;
    height: 100%;
}

.login {
    width: 100%;
}

.logout {
    margin: 10px auto;
}

a{
    text-decoration: none;
}

.mat-button {
    display: inline-block;
    background-color: white;
    color: #597531;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin: 5px;
  }
  
  .mat-button:hover {
    background-color: #62972e;
    color: white;
  }
  
  .mat-button:focus {
    outline: none;
  }
  
  .mat-button:active {
    background-color: #62972e;
  }