<!-- form to edit the item -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h1>{{ item.Municipio }}</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form (submit)="edititem()">
            <mat-form-field>
              <div class="row pt-5 flex zero">
                <div class="col-md-5 uno">
                  <h2>Municipio</h2>
                  <input
                    matInput
                    placeholder="{{ item.Municipio }}"
                    [(ngModel)]="item.Municipio"
                    name="Municipio"
                  />
                  <h2>Paraje</h2>
                  <input
                    matInput
                    placeholder="{{ item.Paraje }}"
                    [(ngModel)]="item.Paraje"
                    name="Paraje"
                  />
                  <h2>Coordenada X</h2>
                  <input
                    matInput
                    placeholder="{{ item.X }}"
                    [(ngModel)]="item.X"
                    name="X"
                  />
                </div>
                <div class="col-md-5 uno">
                  <h2>Coordenada Y</h2>
                  <input
                    matInput
                    placeholder="{{ item.Y }}"
                    [(ngModel)]="item.Y"
                    name="Y"
                  />
                  <h2>ACUNID_antiguo</h2>
                  <input
                    matInput
                    placeholder="{{ item.ACUNID_antiguo }}"
                    [(ngModel)]="item.ACUNID_antiguo"
                    name="ACUNID_antiguo"
                  />
                  <h2>Rio</h2>
                  <input
                    matInput
                    placeholder="{{ item.Rio }}"
                    [(ngModel)]="item.Rio"
                    name="Rio"
                  />
                  <h2>Concatenación_2</h2>
                  <input
                    matInput
                    placeholder="{{ item.Concatenacion }}"
                    [(ngModel)]="item.Concatenacion"
                    name="Concatenacion"
                  />
                </div>
              </div>
            </mat-form-field>
            <mat-card-actions class="actions">
              <div class="row">
                <div class="col-md-5">
                  <button mat-raised-button color="white" type="submit">
                    Editar
                  </button>
                </div>
                <div class="col-md-5">
                  <button mat-raised-button color="white" (click)="volver()">
                    Volver
                  </button>
                </div>
              </div>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
