.form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form .form-group {
    margin-bottom: 1rem;
}

.form .form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form .form-group input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form .form-group input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form .form-group input::placeholder {
    color: #6c757d;
    opacity: 1;
}

.mat-form-field {
    width: 90%;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
}

td {
  padding-right: 8px;
}