<!-- mat card with mat form field inside to edit all the field of the item -->

<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>
      <h1>Editar</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Municipio</mat-label>
        <input matInput value="{{item.Municipio}}" formControlName="Municipio">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Paraje</mat-label>
        <input matInput value="{{item.Paraje}}" formControlName="Paraje">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Coordenada X Utm</mat-label>
        <input matInput value="{{item.X}}" formControlName="X">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Coordenada Y Utm</mat-label>
        <input matInput value="{{item.Y}}" formControlName="Y">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input matInput value="{{item.Descripcion}}" formControlName="Descripcion">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Flora</mat-label>
        <input matInput value="{{item.Flora}}" formControlName="Flora">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fauna</mat-label>
        <input matInput value="{{item.Fauna}}" formControlName="Fauna">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Geologia</mat-label>
        <input matInput value="{{item.Geologia}}" formControlName="Geologia">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Recomendacion</mat-label>
        <input matInput value="{{item.Recomendacion}}" formControlName="Recomendacion">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estado de conservacion</mat-label>
        <input matInput value="{{item.Status_de_conservacion}}" formControlName="Status_de_conservacion">
      </mat-form-field>
      </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="onSubmit()">Editar</button>
    <button mat-button color="danger" (click)="volver()">Volver</button>
  </mat-card-actions>
</mat-card>
